# Explore here

In [1]:
import pandas as pd

df = pd.read_csv("lyrics,label.txt")
df.head()

                                              lyrics label language
0  Volvió de estudiar en Columbia\r\nA la isla, s...   Pop       es
1  Lo que quiero, lo tengo\r\nSin perdón y sin pe...   Pop       es
2  Quiero bailar perreando toda la noche\r\nCon l...   Pop       es
3  Tú y yo frente al mar\r\n¿Te acuerdas de mí? ¿...   Pop       es
4  Tú estás en otro lugar\r\nYo estoy por Medallo...   Pop       es

In [2]:
df["language"].value_counts()

language
en    152
es     80
Name: count, dtype: int64

In [3]:
df["language"].value_counts().reset_index()

  language  count
0       en    152
1       es     80

In [4]:
df["label"].value_counts()

label
Rock    117
Pop     115
en        1
Name: count, dtype: int64