# Explore here

In [19]:
import pandas as pd

df = pd.read_csv("lyrics,label.txt")
df.head()

                                              lyrics label language
0  Volvió de estudiar en Columbia\r\nA la isla, s...   Pop       es
1  Lo que quiero, lo tengo\r\nSin perdón y sin pe...   Pop       es
2  Quiero bailar perreando toda la noche\r\nCon l...   Pop       es
3  Tú y yo frente al mar\r\n¿Te acuerdas de mí? ¿...   Pop       es
4  Tú estás en otro lugar\r\nYo estoy por Medallo...   Pop       es

In [20]:
df["language"].value_counts()

language
es    198
en    153
Name: count, dtype: int64

In [21]:
df["language"].value_counts().reset_index()

  language  count
0       es    198
1       en    153

In [22]:
df["label"].value_counts()

label
Rock      135
Pop       116
Cumbia    100
Name: count, dtype: int64